/*----------------------------
         Add CSS file
----------------------------*/
@import "../admin-plugins/bootstrap/css/bootstrap.min.css";
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*----------------------------
root
----------------------------*/
:root {
    --blue:#23356F;
    --sky:#426FB5;
    --green:#7BC043;
    --orange:#F19A3A;
    --gray:#4F5168;
    --gray1:#8F93A0;
    --lightgray:#8F93A0;
    --white:#ffffff;
    --body:#E8ECF2;
}

::-webkit-scrollbar {width:5px;  }
::-webkit-scrollbar-track {background: var(--scrollbarBG); } 
::-webkit-scrollbar-thumb {background-color: var(--thumbBG) ; border-radius: 6px; border: 3px solid var(--scrollbarBG); }
/*----------------------------
   element      
----------------------------*/
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
*{margin:0; padding:0}
a{ text-decoration:none; color: #1A46AB;}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body {font-size: 14px; background:var(--body, #E8ECF2);font-family: 'Open Sans', sans-serif;line-height: 26px;color:var(--gray, #4F5168);-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;font-weight: normal;-webkit-font-smoothing: antialiased;}
:-ms-input-placeholder{color: var(--gray, #4F5168);}
.wd10{width: 10%;}
.wd20{width: 20%;}
.wd30{width: 30%;}
.wd40{width: 40%;}
.wd50{width: 50%;}
.wd60{width: 60%;}
.wd70{width: 70%;}
.wd80{width: 80%;}
.wd90{width: 90%;}
.wd100{width:100%;}
.mt53{margin-top: 53px}
.mb-1-5{margin-bottom: 1.5rem;}
.mb-1{margin-bottom: 1rem;}
.mb-10{margin-bottom: 10px;}
.mt53-1{margin-top: 53px}
/*----------------------------
   sidebar      
----------------------------*/
.sidebar-nav {/*overflow: auto;*/ position: relative; height: calc(100vh - 100px);scrollbar-width: thin;scrollbar-color: var(--thumbBG) var(--scrollbarBG); }
.sidebar-wrapper {position: fixed; top: 0; z-index: 9; height: auto; background:var(--blue); width: 224px; text-align: left; -webkit-transition: 0.3s; transition: 0.3s; -webkit-box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); height: 100vh; }
.sidebar-logo {position: relative; padding: 1rem 1rem; text-align: center; background:var(--white, #ffffff); }
.sidebar-logo img{height: 80px;}
.sidebar {z-index: 1; position: relative;}
.sidebar .nav {flex-wrap: nowrap;flex-direction: column;margin-bottom: 20px;margin-top: 0;margin-left: 0;margin-right: 0;}
.sidebar .nav .nav-item .nav-link {display: -webkit-flex; position: relative; display: flex; -webkit-align-items: center; align-items: center; white-space: nowrap; padding:1rem 1rem 1rem 1rem; color:var(--white); border-radius: 0px;-webkit-transition: 0.5s; transition: 0.5s; } 
.sidebar .nav .nav-item .nav-link img {margin-right: 10px;width: 20px;}
.sidebar .nav .nav-item .nav-link .menu-title {color:var(--white);display: inline-block;font-size: 13px;line-height: 1;vertical-align: middle;font-weight: 600;}
.menu-icon {width: 25px; margin-right: 10px; }
.sidebar .nav .iot-dropdown a.nav-link.collapsed:before {content: ''; position: absolute; right: 18px; top: 25px; bottom: 0; background: url(../admin-images/arrow.svg); width: 13px; height: 10px; background-repeat: no-repeat;    -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in;-moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
.sidebar .nav .iot-dropdown a.nav-link:before{-moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); content: ''; position: absolute; right: 18px; top: 23px; bottom: 0; background: url(../admin-images/arrow.svg); width: 13px; height: 10px; background-repeat: no-repeat;    -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.sidebar .nav .nav-item.active .nav-link {background:var(--green); border-radius: 0; color:var(--white); }
.sidebar .nav .nav-item:hover .nav-link {background:var(--green); border-radius: 0; color:var(--white); }
.sidebar .nav .nav-item .nav-link span.dropdown-icon {position: absolute; right: 5px; }
.sidebar .nav.sub-menu {margin: 0;  list-style: none; padding:0; }
.sidebar .nav.sub-menu li a{display: -webkit-flex; position: relative; font-size: 14px; display: flex; -webkit-align-items: center; align-items: center; white-space: nowrap; padding:1rem 1rem 1rem 3.2rem; color:var(--white); border-radius: 0px;-webkit-transition: 0.5s; transition: 0.5s; } 
.sidebar .nav.sub-menu li:hover a{background:var(--Hover); border-radius: 0; color:var(--white);}
button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center {width: 40px; padding: 0; height: 40px; border: none; }
/*----------------------------
   header      
----------------------------*/
.header {width: 100%; padding:5px 10px;    position: sticky; top: 0; z-index: 9; }
.web-nav{display: none;}
.breadcrumb-title{font-size: 18px;margin: 0;padding: 0;line-height: normal;color:var(--blue);font-weight: 700;}
.brand-logo-mini{display: none;}
.header .navbar{padding: 0}
.navbar-menu-wrapper {align-items: center; justify-content: space-between; display: flex; width: 100%; }
.navbar-menu-wrapper .navbar-nav {flex-direction: row; }
.header .navbar .dropdown-menu {position: absolute; font-size: 0.9rem; margin-top: 0; right: 0; left: auto; top: 50px; border: none; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); width: 160px; padding: 0; background: #ffffff; }
.header .navbar .dropdown-menu a.dropdown-item {font-size: 13px;font-weight: 500;color: #455a64;border-radius: 5px;}
.header .navbar .dropdown-menu a.dropdown-item.active, 
.header .navbar .dropdown-menu a.dropdown-item:active, 
.header .navbar .dropdown-menu a.dropdown-item:focus, 
.header .navbar .dropdown-menu a.dropdown-item:hover {color: #ffffff; text-decoration: none; background-color: #004a8e; }
.header .navbar li a {padding: 0; }
.header .navbar li{padding: 0 0.5rem;}
select.navbar-location-select {padding: 7px; border-radius: 5px; background: var(--cardbg); outline: none; box-shadow: none; font-size: 16px; width: 300px; }
.noti-icon {margin-right:0px;position: relative;width: 40px;text-align: center;height: 40px;padding: 7px;}
.noti-icon i {font-size: 30px;color: #ffcc00;} 
.noti-icon .noti-badge {position: absolute; top: 2px; right: 2px; width: 18px; background: #FF8385; height: 18px; border-radius: 50%; color: #fff; line-height: 18px; font-size: 12px; }
.profile-pic {display: flex; align-items: center; }
.profile-pic-image {width: 40px; height: 40px; position: relative; overflow: hidden; margin-right: 10px; border-radius: 50%; background: var(--blue); border: 2px solid var(--green); box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); }
.profile-pic-image img {width: 100%; height: 100%; object-fit: cover; } 
.profile-pic-text h3 {font-weight: 600;font-size: 14px;line-height: 17px;color:var(--blue);margin: 0;padding: 0;}
.profile-pic-text p {font-weight: normal;font-size: 10px;line-height: normal;color:var(--gray);margin: 0;}
.profile-dropdown .dropdown-toggle::after{content: inherit;}
.noti-dropdown .dropdown-toggle::after{content: inherit;}
.right-top-header-nav ul li a.nav-link{padding: 0;}
.right-top-header-nav .dropdown-menu {position: absolute; font-size: 0.9rem; margin-top: 0; right: 0; left: auto; top: 50px; border: none; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); width: 160px; padding: 0; background: #ffffff; }
.right-top-header-nav .dropdown-menu a.dropdown-item {font-size: 13px;font-weight: 500;color: #455a64;border-radius: 5px;}
.right-top-header-nav .dropdown-menu a.dropdown-item.active, 
.right-top-header-nav .dropdown-menu a.dropdown-item:active, 
.right-top-header-nav .dropdown-menu a.dropdown-item:focus, 
.right-top-header-nav .dropdown-menu a.dropdown-item:hover {color: #ffffff; text-decoration: none; background-color: #004a8e; }
/*----------------------------
   wrapper      
----------------------------*/
.body-wrapper {min-height: calc(100vh); margin-left: 224px; width: calc(100% - 224px); position: relative; -webkit-transition: 0.5s; transition: 0.5s; }
.main-site.toggled .body-wrapper {margin-left: 0; width: 100%; } 
.main-site.toggled .sidebar-wrapper {-webkit-transition: all 0.3s ease; transition: all 0.3s ease; margin-left: -230px; }
.body-main-content{padding: 1rem;}



/*----------------------------
   pagination      
----------------------------*/
.ccj-table-pagination {padding: 10px 0 0 0; }
ul.ccj-pagination {display: flex;padding-left: 0;list-style: none;margin: 0;}
ul.ccj-pagination li a.page-link {color: #ffffff;background: #23356f;position: relative;display: block;padding: 5px 15px;font-size: 14px;margin: 2px;border-radius: 5px;}
ul.ccj-pagination li.active a.page-link {color: #fff;background: #7bc043;}
ul.ccj-pagination li.disabled a.page-link {color: #ffffff;pointer-events: none;background: #23356f;}



/*----------------------------
   search-filter      
----------------------------*/
.btn-option-info{margin-left: auto;}
h4.heading-title {font-size: 16px;font-weight: 700;margin: 0;padding: 0; color: var(--blue);}

.search-filter input.form-control {font-size: 13px; font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: #455A64; border-radius: 5px; border: 1px solid #EAEDF7; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05); }
.search-filter select.form-control {font-size: 13px; font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: #455A64; border-radius: 5px; border: 1px solid #EAEDF7; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05); }
.search-filter textarea.form-control {font-size: 13px; font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: #455A64; border-radius: 5px; border: 1px solid #EAEDF7; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05); }

.search-filter .form-control:focus {border: 1px solid #7bc043;}
.search-form-group{position: relative;}
.search-form-group input.form-control {position: relative;color:#fff;border-radius: 5px;font-weight: 400;font-size: 13px;box-sizing: border-box;padding: 12px 15px 12px 50px;border: none;width: 100%;}
.search-form-group span.search-icon {position: absolute;top: 48%;left: 15px;pointer-events: none;transform: translateY(-50%) scaleX(-1);color: #fecb59;font-size: 18px;}

/*----------------------------
   Card      
----------------------------*/

.ccj-card {position: relative; padding: 20px; border-radius: 15px; background: var(--white, #FFF); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); margin-bottom: 1rem; }

/*----------------------------
   table      
----------------------------*/

.ccj-table {border: 1px solid #e8ecf2; }
table.table.ccj-table>:not(:first-child) {border-top: 1px solid #26231a; }
table.table.ccj-table thead{background: #f9fafc;}
table.table.ccj-table tr th {font-size: 13px; font-weight: 700; color: var(--gray); padding: 8px; border-top: none; border-bottom: 1px solid #e8ecf2 !important; white-space: nowrap; }
table.table.ccj-table tr td {vertical-align: middle;font-size: 13px;font-weight: 500;color: #8C9AA1;padding: 8px;border-bottom: 1px solid #eaeaea;line-height: 20px;}
/*----------------------------
   Status      
----------------------------*/
.status-text {font-size: 13px; font-weight: 500; border-radius: 5px; padding: 5px;color:var(--white); }
.grstatus{background:var(--green);}
.blstatus{background:var(--blue);}
