.create-service-section{ border-radius: 15px; background: var(--white, #FFF); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); margin-bottom: 1rem; }
.create-service-heading { padding:1rem; border-bottom: 1px solid #e8ecf2; display: flex; justify-content: space-between; align-items: center; }
.create-service-heading h3 {font-size: 16px; font-weight: 700; margin: 0; padding: 0; color: var(--blue); }
.create-service-form{padding: 1rem}
.create-service-form .form-group{margin-bottom: 1rem}
.create-service-form .form-group h3 {font-size: 13px; color: #393e56; font-weight: 600; margin: 0 0 5px 0; padding: 0; }

.create-service-form input.form-control {font-size: 13px; font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: #455A64; border-radius: 5px; border: 1px solid #EAEDF7; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05); }
.create-service-form select.form-control {font-size: 13px;appearance: auto; font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: #455A64; border-radius: 5px; border: 1px solid #EAEDF7; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05); }
.create-service-form textarea.form-control {font-size: 13px; font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: #455A64; border-radius: 5px; border: 1px solid #EAEDF7; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05); }
.create-service-form .form-control:focus {border: 1px solid #7bc043;}
.icon-form-group{position: relative;}
.icon-form-group input.form-control {position: relative;color:#fff;border-radius: 5px;font-weight: 400;font-size: 13px;box-sizing: border-box;padding: 12px 15px 12px 50px;border: none;width: 100%;}
.icon-form-group span.search-icon {position: absolute;top: 48%;left: 15px;pointer-events: none;transform: translateY(-50%) scaleX(-1);color: #fecb59;font-size: 18px;}





.Ownertype-list{list-style: none; display: flex;padding: 0;margin: 0; gap:20px; }
.ccjradio label {position: relative;border-radius: 5px;display: inline-block;padding: .5rem .5rem 0.5rem 2rem;cursor: pointer;width: 100%;font-size: 13px;color: #393e56;font-weight: 500;}
.ccjradio label::before,
.ccjradio label::after {position: absolute;top: 10px;left: 0;display: block;width: 24px;height: 24px;}
.ccjradio label::before {content: " "; border: 1px solid #EAEDF7; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.ccjradio input[type="radio"]{position: absolute; opacity: 0; z-index: -1; margin: 0; }
.ccjradio input[type="radio"] + label::after {content: "";border: none;width: 16px;height: 16px;background: #fff;left: 4px;right: 0;top: 14px;bottom: 0;border-radius: 50%;}
.ccjradio input[type="radio"]:checked + label::before {background:var(--green);border-color:var(--green);}
.ccjradio input[type="radio"] + label::after{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.ccjradio input[type="radio"]:checked + label::after{-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

.ServiceAdded-list{list-style: none; display: flex;padding: 0;margin: 0; gap:10px; }
.ccjcheckbox label {padding-left: 31px; position: relative; display: inline-block; padding: 0 0 0 3em; margin-bottom: 10px;  line-height: 1.5; cursor: pointer; font-size: 14px;}
.ccjcheckbox label::before,
.ccjcheckbox label::after {position: absolute; top: 0; left: 0; display: block; width: 24px; height: 24px; }
.ccjcheckbox label::before {content: " "; border: 1px solid #898a8c; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.ccjcheckbox input[type="checkbox"]{position: absolute; opacity: 0; z-index: -1; margin: 0; }
.ccjcheckbox input[type="checkbox"] + label::after {content: "\2714"; color: #FFF; line-height: 1.9; text-align: center; border: none; }
.ccjcheckbox input[type="checkbox"]:checked + label::before {background: #3ecd7b; border-color: #3ecd7b; }
.ccjcheckbox input[type="checkbox"] + label::after{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.ccjcheckbox input[type="checkbox"]:checked + label::after{-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }



.product-images-head p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #676767;
    text-align: left;
    margin: 0;
}

.product-images-upload .file-form-group {
    margin-bottom: 10px;
}
.product-images-upload .file-form-group input.file-form-control {
    font-style: normal;
    line-height: 17px;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    padding: 0.8rem 0.6rem;
    outline: 0;
    width: 100%;
    display: inline-block;
    color: #455A64;
    border-radius: 5px;
    border: 1px solid #EAEDF7;
    background: #FFF;
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}

.create-service-form-box {background: #fbfbfb; padding: 10px; border-radius: 5px; margin-bottom: 10px; }
.create-service-form-box h1 {font-size: 16px; font-weight: 700; margin: 0 0 15px 0; padding: 10px 0; color: var(--blue); border-bottom: 2px solid #ffffff; }


.Savebtn {color: var(--white); border-radius: 50px; background: var(--green, #7BC043); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); font-weight: 700; font-size: 13px; text-align: center; padding: 10px 30px; display: inline-block; border-bottom: none; border: none; }
.cancelbtn {color: var(--gray); border-radius: 50px; background: #fff; box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); font-weight: 700; font-size: 13px; text-align: center; padding: 10px 30px; display: inline-block; border-bottom: none; border: 1px solid #eaedf7; }